@font-face {
  font-family: "font_p";
  src: url("../scss/font/03SmartFont-P.ttf") format("truetype"); }

@font-face {
  font-family: "font_title";
  src: url("../scss/font/HanaMinA.ttf") format("truetype"); }

@font-face {
  font-family: "font_nav";
  src: url("../scss/font/font_1_kokumr_1.00_rls.ttf") format("truetype"); }

@font-face {
  font-family: "font_2";
  src: url("../scss/font/imagine YOKOHAMA.otf") format("truetype"); }

@font-face {
  font-family: "font_cart";
  src: url("../scss/font/SoukouMincho.ttf") format("truetype"); }

h1 {
  font-size: black;
  color: 12px;
  font-family: "font_title";
  text-align: center;
  letter-spacing: 2px; }

h2 {
  font-size: rgba(0, 0, 0, 0.8);
  color: 48px;
  font-family: "font_title";
  text-align: center;
  letter-spacing: 2px; }

h3 {
  font-size: rgba(0, 0, 0, 0.6);
  color: 36px;
  font-family: font_title;
  text-align: center;
  letter-spacing: 2px; }

h4 {
  font-size: rgba(0, 0, 0, 0.4);
  color: 28px;
  font-family: font_title;
  text-align: center;
  letter-spacing: 2px; }

h5 {
  font-size: rgba(0, 0, 0, 0.3);
  color: 20px;
  font-family: font_title;
  text-align: center;
  letter-spacing: 2px; }

p {
  font-size: rgba(0, 0, 0, 0.3);
  color: 16px;
  font-family: font_2;
  text-align: center;
  letter-spacing: 2px; }

* {
  margin: 0;
  padding: 0;
  list-style: none; }

.clear_fix {
  clear: both; }

.fp_index_wrapper {
  width: 100%;
  background-color: #ECEED0; }
  .fp_index_wrapper .idea_introduction {
    width: 1200px;
    margin: auto;
    background-color: #F7F8F8; }
    .fp_index_wrapper .idea_introduction .txt {
      width: 60%;
      padding: 5px 0px;
      margin: auto;
      background-color: transparent; }
      .fp_index_wrapper .idea_introduction .txt h2 {
        width: 500px;
        height: 60px;
        line-height: 60px;
        margin: 5px auto 20px;
        background-color: #F7E9C3; }
      .fp_index_wrapper .idea_introduction .txt p {
        padding: 5px 5px;
        margin: auto; }
      .fp_index_wrapper .idea_introduction .txt .first_txt_sec {
        width: 90%; }
      .fp_index_wrapper .idea_introduction .txt .second_txt_sec {
        width: 70%; }
      .fp_index_wrapper .idea_introduction .txt .third_txt_sec {
        width: 85%; }
  .fp_index_wrapper .team_introduction {
    width: 1200px;
    margin: auto;
    background-color: #F7F8F8; }
    .fp_index_wrapper .team_introduction .txt {
      width: 60%;
      padding: 5px 0px;
      margin: auto;
      background-color: transparent; }
      .fp_index_wrapper .team_introduction .txt h2 {
        width: 500px;
        height: 60px;
        line-height: 60px;
        margin: 5px auto 20px;
        background-color: #F7E9C3; }
