@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "font_p";
  src: url("../scss/font/03SmartFont-P.ttf") format("truetype");
}

@font-face {
  font-family: "font_title";
  src: url("../scss/font/HanaMinA.ttf") format("truetype");
}

@font-face {
  font-family: "font_nav";
  src: url("../scss/font/font_1_kokumr_1.00_rls.ttf") format("truetype");
}

@font-face {
  font-family: "font_2";
  src: url("../scss/font/imagine YOKOHAMA.otf") format("truetype");
}

@font-face {
  font-family: "font_cart";
  src: url("../scss/font/SoukouMincho.ttf") format("truetype");
}

@font-face {
  font-family: "hanyi";
  src: url("../scss/font/HanyiSentyTang.ttf") format("truetype");
}

h1 {
  font-size: 12px;
  color: black;
  font-family: "font_title";
  letter-spacing: 2px;
}

h2 {
  font-size: 20px;
  color: #2222;
  font-family: "font_title";
  letter-spacing: 2px;
}

h3 {
  font-size: 36px;
  color: #4d3900;
  font-family: "hanyi";
  letter-spacing: 2px;
}

h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
  font-family: "font_title";
  letter-spacing: 2px;
}

h5 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-family: "font_title";
  letter-spacing: 2px;
}

p {
  font-size: 16px;
  color: #444;
  font-family: "font_title";
  letter-spacing: 2px;
}

@media all and (max-width: 767px) {
  h1 {
    font-size: 12px;
    color: black;
    font-family: "font_title";
    letter-spacing: 2px;
  }
  h2 {
    font-size: 18px;
    color: #2222;
    font-family: "font_title";
    letter-spacing: 2px;
  }
  h3 {
    font-size: 24px;
    color: #4d3900;
    font-family: "hanyi";
    letter-spacing: 2px;
  }
  h4 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    font-family: "font_title";
    letter-spacing: 2px;
  }
  h5 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    font-family: "font_title";
    letter-spacing: 2px;
  }
  p {
    font-size: 14px;
    color: #444;
    font-family: "font_p";
    letter-spacing: 2px;
  }
}

input,
button,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

body {
  background-image: url(../scss/img/cart/pd_bg_03.png);
  background-repeat: repeat;
  background-position: top;
  background-size: contain;
}

.cart_wrapper {
  background-image: url(../scss/img/cart/cart_bottom_art.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.cart_container {
  width: 100%;
  padding-top: 150px;
  background-size: 100%;
  background-repeat: repeat;
  margin: auto;
  max-width: 1200px;
}

.cart_bottom {
  width: 50%;
  position: relative;
  margin-left: auto;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
  background-size: 100%;
  background-repeat: no-repeat;
}
.cart_bottom .footer_wrapper {
  bottom: 0%;
  width: 100%;
  position: absolute;
}

/*整體*/
.cart_container {
  width: 100%;
}

.cart_container .wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

/*左半邊結構*/
.prods_content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
@media all and (max-width: 767px) {
  .prods_content {
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
  }
}
.prods_content .prods_buy {
  width: 100%;
}
.prods_content .prods_buy .title {
  padding-bottom: 5%;
  font-family: hanyi;
}
@media all and (max-width: 767px) {
  .prods_content .prods_buy .title {
    padding-left: 5%;
    box-sizing: border-box;
  }
}
.prods_content .prods_buy ul {
  width: 100%;
}
.prods_content .prods_buy li {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #888888;
}
.prods_content .prods_buy li div:first-child img {
  width: 100%;
}
@media all and (max-width: 767px) {
  .prods_content .prods_buy li h2 {
    font-size: 14px;
  }
}
.prods_content .prods_buy li div {
  width: 16.66666%;
  align-self: center;
  font-size: 14px;
  font-family: font_p;
}
.prods_content .prods_buy li div input {
  width: 10%;
  text-align: center;
  outline: 1px solid #ccc;
  line-height: 20px;
}
.prods_content .prods_buy li div:last-child {
  width: 9%;
}
.prods_content .prods_buy li div:last-child img {
  width: 35%;
}
.prods_content .prods_buy li p {
  font-size: 12px;
}
.prods_content .prods_buy li:first-child {
  padding-bottom: 2%;
}
.prods_content .inform {
  width: 50%;
  padding-top: 10%;
}
.prods_content .inform .know {
  width: 100%;
  box-sizing: border-box;
}
.prods_content .inform .know p {
  width: 100%;
  text-align: left;
}
@media all and (max-width: 767px) {
  .prods_content .inform .know p {
    padding-left: 3%;
    box-sizing: border-box;
    font-size: 12px;
  }
}
@media all and (max-width: 767px) {
  .prods_content .inform .ship_way p {
    width: 100%;
    padding-left: 3%;
    box-sizing: border-box;
    font-size: 12px;
  }
}
.prods_content .total {
  width: 50%;
  position: relative;
}
.prods_content .total .total_wrap {
  position: relative;
  bottom: 0;
  width: 70%;
  margin: 12% auto;
  padding: 6%;
  box-sizing: border-box;
  border: 3px solid #ccc;
}
@media all and (max-width: 767px) {
  .prods_content .total .total_wrap {
    width: 100%;
  }
}
.prods_content .total ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}
.prods_content .total ul li {
  width: 50%;
  padding: 1% 2%;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
}
@media all and (max-width: 767px) {
  .prods_content .total ul li {
    width: 50%;
  }
}
.prods_content .total ul:last-child li {
  font-size: 24px;
}
@media all and (max-width: 767px) {
  .prods_content .total ul:last-child li {
    font-size: 18px;
  }
}

/*右半邊結構*/
.mem_detail {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 767px) {
  .mem_detail {
    width: 100%;
    flex-flow: row wrap;
  }
}

.cart_container .mem_detail_p_mobile {
  display: none;
}
@media all and (max-width: 767px) {
  .cart_container .mem_detail_p_mobile {
    display: block;
    align-items: center;
  }
  .cart_container .mem_detail_p_mobile .steps {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .cart_container .mem_detail_p_mobile .steps .arrow {
    width: 10%;
  }
  .cart_container .mem_detail_p_mobile .steps .arrow img {
    width: 100%;
  }
}

.steps {
  width: 20%;
  box-sizing: border-box;
  right: -1%;
  z-index: -1;
  display: flex;
  align-items: flex-end;
  flex-flow: column wrap;
  text-align: center;
  position: relative;
}
@media all and (max-width: 767px) {
  .steps {
    width: 100%;
    right: 0;
    align-items: flex-start;
    flex-flow: row wrap;
  }
}
.steps figcaption {
  position: relative;
  right: -2%;
  top: 3px;
  border: 3px solid burlywood;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 80%;
}
.steps figcaption img {
  width: 60%;
}
@media all and (max-width: 767px) {
  .steps figcaption {
    width: 20%;
    right: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-flow: row wrap;
  }
}
.steps .pay_step {
  border: 3px solid green;
}

.wrap figcaption {
  /*******步驟推上去********/
}
@media all and (max-width: 767px) {
  .wrap figcaption {
    display: none;
  }
}

.mem_info {
  vertical-align: middle;
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ddd;
  border-radius: 2%;
}
@media all and (max-width: 767px) {
  .mem_info {
    width: 80%;
  }
}
.mem_info label {
  margin: 5px;
}
.mem_info .same_buyer {
  margin: 10px;
}
.mem_info li,
.mem_info .picnic_coin {
  padding: 10px;
}
.mem_info span {
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
}
.mem_info .step3_txt {
  width: 100%;
  text-align: center;
}
.mem_info .order_address,
.mem_info .send_address,
.mem_info .pay_method {
  border-bottom: 2px solid #eee;
  padding: 10px;
}
.mem_info .discount_use {
  padding: 10px;
}

.cart_bottom button {
  padding: 10px 5px;
  border-radius: 40%;
  box-shadow: 1px 6px 1px burlywood;
  font-size: 20px;
  color: snow;
  transform: translateY(0);
}

.cart_bottom button:hover {
  box-shadow: 1px 1px 1px burlywood;
  transform: translateY(3px);
}

.cart_bottom .next {
  width: 20%;
  background-color: #86a745;
}
@media all and (max-width: 767px) {
  .cart_bottom .next {
    width: 60%;
  }
}

.cart_bottom .conform {
  width: 20%;
  background-color: rgba(172, 89, 41, 0.9);
}

.picnic_coin span {
  font-size: 14px;
}
