@charset "UTF-8";
@font-face {
  font-family: "font_p";
  src: url("../scss/font/03SmartFont-P.ttf") format("truetype"); }

@font-face {
  font-family: "font_title";
  src: url("../scss/font/HanaMinA.ttf") format("truetype"); }

@font-face {
  font-family: "font_nav";
  src: url("../scss/font/font_1_kokumr_1.00_rls.ttf") format("truetype"); }

@font-face {
  font-family: "font_2";
  src: url("../scss/font/imagine YOKOHAMA.otf") format("truetype"); }

@font-face {
  font-family: "font_cart";
  src: url("../scss/font/SoukouMincho.ttf") format("truetype"); }

@font-face {
  font-family: "hanyi";
  src: url("../scss/font/HanyiSentyTang.ttf") format("truetype"); }

h1 {
  font-size: 12px;
  color: black;
  font-family: "font_title";
  letter-spacing: 2px; }

h2 {
  font-size: 20px;
  color: #2222;
  font-family: "font_title";
  letter-spacing: 2px; }

h3 {
  font-size: 36px;
  color: #4d3900;
  font-family: "hanyi";
  letter-spacing: 2px; }

h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
  font-family: "font_title";
  letter-spacing: 2px; }

h5 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-family: "font_title";
  letter-spacing: 2px; }

p {
  font-size: 16px;
  color: #444;
  font-family: "font_title";
  letter-spacing: 2px; }

@media all and (max-width: 767px) {
  h1 {
    font-size: 12px;
    color: black;
    font-family: "font_title";
    letter-spacing: 2px; }
  h2 {
    font-size: 18px;
    color: #2222;
    font-family: "font_title";
    letter-spacing: 2px; }
  h3 {
    font-size: 24px;
    color: #4d3900;
    font-family: "hanyi";
    letter-spacing: 2px; }
  h4 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    font-family: "font_title";
    letter-spacing: 2px; }
  h5 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    font-family: "font_title";
    letter-spacing: 2px; }
  p {
    font-size: 14px;
    color: #444;
    font-family: "font_p";
    letter-spacing: 2px; } }

/*左半邊結構*/
.prods_content {
  width: 50%; }
  @media all and (max-width: 767px) {
    .prods_content {
      width: 100%; } }
