@font-face {
  font-family: hanyi;
  src: url(../scss/font/HanyiSentyTang.ttf); }

@font-face {
  font-family: "font_p";
  src: url("../scss/font/03SmartFont-P.ttf") format("truetype"); }

@font-face {
  font-family: "font_title";
  src: url("../scss/font/HanaMinA.ttf") format("truetype"); }

@font-face {
  font-family: "font_nav";
  src: url("../scss/font/font_1_kokumr_1.00_rls.ttf") format("truetype"); }

@font-face {
  font-family: "font_2";
  src: url("../scss/font/imagine YOKOHAMA.otf") format("truetype"); }

@font-face {
  font-family: "font_cart";
  src: url("../scss/font/SoukouMincho.ttf") format("truetype"); }

@font-face {
  font-family: "hanyi";
  src: url("../scss/font/HanyiSentyTang.ttf") format("truetype"); }

h2 {
  font-size: 20px;
  color: #222;
  font-family: "font_title";
  letter-spacing: 2px; }

h3 {
  font-size: 36px;
  color: #4d3900;
  font-family: "hanyi";
  letter-spacing: 2px; }

h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
  font-family: "font_title";
  letter-spacing: 2px; }

h5 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-family: "font_title";
  letter-spacing: 2px; }

p {
  font-size: 16px;
  color: #444;
  font-family: "Noto Sans TC";
  letter-spacing: 2px; }

h2 {
  font-size: 72px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "hanyi";
  letter-spacing: 2px; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.clear_fix {
  clear: both; }

.fp_loadin_wrapper {
  width: 100vw;
  height: 100vh; }
  .fp_loadin_wrapper .bg_settin {
    width: 100%;
    height: 100%; }
    .fp_loadin_wrapper .bg_settin .loadin_bg {
      width: 100%;
      height: 100%; }
      .fp_loadin_wrapper .bg_settin .loadin_bg .loadin_bg_img {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.8; }
    .fp_loadin_wrapper .bg_settin .paper_bg {
      width: 100vw;
      height: 100vh;
      position: fixed;
      z-index: 1; }
      .fp_loadin_wrapper .bg_settin .paper_bg .paper_bg_img {
        display: block;
        width: 100%;
        height: 100%; }
  .fp_loadin_wrapper .img_settin {
    width: 218px;
    height: 219px;
    margin: auto;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: auto; }
    .fp_loadin_wrapper .img_settin .squel_settin {
      width: 100%;
      height: 100%;
      position: relative; }
      .fp_loadin_wrapper .img_settin .squel_settin .loadin_squel_img {
        position: absolute;
        width: 218px;
        height: 219px; }
      .fp_loadin_wrapper .img_settin .squel_settin .squel_tail {
        width: 132px;
        height: 211px;
        right: 0;
        transform-origin: -2px 80%;
        animation: move_tail 2s 0s infinite alternate ease paused; }
      .fp_loadin_wrapper .img_settin .squel_settin .squel_rhand {
        width: 42px;
        height: 58px;
        top: 95px;
        right: 38%;
        transform-origin: 0 100%;
        animation: move_rhandandear 1.5s 0s infinite  alternate ease paused; }
      .fp_loadin_wrapper .img_settin .squel_settin .squel_lhand {
        width: 36px;
        height: 45px;
        top: 85px;
        left: 0;
        transform-origin: 100% 100%;
        animation: move_lhandandear 1.5s 0s infinite  alternate ease paused; }
      .fp_loadin_wrapper .img_settin .squel_settin .squel_rear {
        width: 30px;
        height: 26px;
        top: 43px;
        right: 47%;
        transform-origin: 15% 80%;
        animation: move_rhandandear 2s 0s infinite  alternate ease paused; }
      .fp_loadin_wrapper .img_settin .squel_settin .squel_lear {
        width: 25px;
        height: 26px;
        top: 37px;
        left: 27px;
        transform-origin: 85% 80%;
        animation: move_lhandandear 2s 0s infinite  alternate ease paused; }
      .fp_loadin_wrapper .img_settin .squel_settin .squel_body {
        width: 108px;
        height: 191px;
        left: 5px;
        bottom: 0; }

@keyframes move_tail {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(8deg); } }

@keyframes move_rhandandear {
  from {
    transform: rotate(10deg); }
  to {
    transform: otate(0); } }

@keyframes move_lhandandear {
  from {
    transform: rotate(-10deg); }
  to {
    transform: otate(0); } }
    .fp_loadin_wrapper .img_settin .pinecone_settin {
      width: 60px;
      height: 100%;
      position: absolute; }
      .fp_loadin_wrapper .img_settin .pinecone_settin .pinecone_img_settin {
        position: absolute;
        top: 30px;
        transform: scale(0.2); }
    .fp_loadin_wrapper .img_settin .throw_left {
      top: 0;
      left: -30px;
      transform-origin: 100% 100%;
      animation: throw_pine_left 1.5s 0s 1  ease paused; }
      .fp_loadin_wrapper .img_settin .throw_left .pinecone1_img {
        width: 57px;
        height: 64px;
        animation: move_pine1_1 1.5s 0s 1 ease paused; }
      .fp_loadin_wrapper .img_settin .throw_left .pinecone2_img {
        width: 51px;
        height: 80px;
        animation: move_pine2_1 1.5s 0s 1 ease paused both; }
      .fp_loadin_wrapper .img_settin .throw_left .pinecone3_img {
        width: 55px;
        height: 58px;
        animation: move_pine3_1 1.5s 0s 1 ease paused both; }
      .fp_loadin_wrapper .img_settin .throw_left .pinecone4_img {
        width: 39px;
        height: 80px;
        animation: move_pine4_1 1.5s 0s 1 ease paused both; }

@keyframes move_pine1_1 {
  0% {
    transform: scale(0.6) rotate(0deg) translateX(0) translateY(0); }
  80% {
    transform: scale(0.8) rotate(-5deg) translateX(-80%) translateY(80%); }
  100% {
    transform: scale(0) rotate(-10deg) translateX(-200%) translateY(100%); } }

@keyframes move_pine2_1 {
  0% {
    transform: scale(0.6) rotate(0deg) translateX(0); }
  80% {
    transform: scale(0.8) rotate(-20deg) translateX(-80%); }
  100% {
    transform: scale(0) rotate(-30deg) translateX(-300%); } }

@keyframes move_pine3_1 {
  0% {
    transform: scale(0.6) rotate(0deg) translateX(0) translateY(0); }
  80% {
    transform: scale(0.8) rotate(-50deg) translateX(-80%) translateY(80%); }
  100% {
    transform: scale(0) rotate(-70deg) translateX(-100%) translateY(150%); } }

@keyframes move_pine4_1 {
  0% {
    transform: scale(0.6) rotate(0deg) translateX(0); }
  80% {
    transform: scale(0.8) rotate(-70deg) translateX(-80%); }
  100% {
    transform: scale(0) rotate(-90deg) translateX(-100%); } }
    .fp_loadin_wrapper .img_settin .throw_right {
      bottom: -10px;
      right: 50px;
      transform-origin: 100% 100%;
      animation: throw_pine_right 1.5s 0s 1  ease paused; }
      .fp_loadin_wrapper .img_settin .throw_right .pinecone1_img {
        width: 57px;
        height: 64px;
        animation: move_pine1_2 1.5s 0s 1 ease paused; }
      .fp_loadin_wrapper .img_settin .throw_right .pinecone2_img {
        width: 51px;
        height: 80px;
        animation: move_pine2_2 1.5s 0s 1 ease paused; }
      .fp_loadin_wrapper .img_settin .throw_right .pinecone3_img {
        width: 55px;
        height: 58px;
        animation: move_pine3_2 1.5s 0s 1 ease paused; }
      .fp_loadin_wrapper .img_settin .throw_right .pinecone4_img {
        width: 39px;
        height: 80px;
        animation: move_pine4_2 1.5s 0s 1 ease paused; }

@keyframes move_pine1_2 {
  0% {
    transform: scale(0.6) rotate(0deg) translateX(0) translateY(0); }
  80% {
    transform: scale(0.8) rotate(5deg) translateX(80%) translateY(80%); }
  100% {
    transform: scale(0) rotate(10deg) translateX(200%) translateY(100%); } }

@keyframes move_pine2_2 {
  0% {
    transform: scale(0.6) rotate(0deg) translateX(0); }
  80% {
    transform: scale(0.8) rotate(20deg) translateX(80%); }
  100% {
    transform: scale(0) rotate(30deg) translateX(300%); } }

@keyframes move_pine3_2 {
  0% {
    transform: scale(0.6) rotate(0deg) translateX(0) translateY(0); }
  80% {
    transform: scale(0.8) rotate(50deg) translateX(80%) translateY(80%); }
  100% {
    transform: scale(0) rotate(70deg) translateX(100%) translateY(150%); } }

@keyframes move_pine4_2 {
  0% {
    transform: scale(0.6) rotate(0deg) translateX(0); }
  80% {
    transform: scale(0.8) rotate(70deg) translateX(80%); }
  100% {
    transform: scale(0) rotate(90deg) translateX(100%); } }

@keyframes throw_pine_left {
  0% {
    transform: scale(0.6) rotate(0deg); }
  100% {
    transform: rotate(-130deg) translateY(50%); } }

@keyframes throw_pine_right {
  0% {
    transform: rotate(0deg) translateY(0); }
  100% {
    transform: rotate(130deg) translateY(50%); } }
  .fp_loadin_wrapper .contact_settin {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 5% 0 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-item: center; }
    .fp_loadin_wrapper .contact_settin .item_settin {
      width: 50%;
      height: 90%;
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-item: center; }
      .fp_loadin_wrapper .contact_settin .item_settin .pine_cone_img {
        display: block;
        width: 534px;
        height: 647px;
        margin: auto; }
      .fp_loadin_wrapper .contact_settin .item_settin h2 {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        margin: auto;
        width: 45%;
        height: 100px;
        line-height: 100px;
        text-align: center; }
      .fp_loadin_wrapper .contact_settin .item_settin:hover .pine_cone_img {
        transform: rotate(-10deg); }
      .fp_loadin_wrapper .contact_settin .item_settin:hover h2 {
        font-size: 120px; }
    .fp_loadin_wrapper .contact_settin .turn_left {
      animation: throwin_left 1.5s 0s 1 ease paused; }
    .fp_loadin_wrapper .contact_settin .turn_right {
      animation: throwin_right 1.5s 0s 1 ease paused; }

@keyframes throwin_left {
  from {
    transform: scale(0.2) rotate(180deg); }
  to {
    transform: scale(1) rotate(360deg); } }

@keyframes throwin_right {
  from {
    transform: scale(0.2) rotate(180deg); }
  to {
    transform: scale(1) rotate(0); } }
