.machine {
  cursor: pointer;
  width: 15%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 8; }
  .machine .machine_check {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%; }
    .machine .machine_check .machine_body {
      width: 60%;
      position: relative;
      z-index: 8; }
      .machine .machine_check .machine_body img {
        width: 100%; }
      .machine .machine_check .machine_body .machine_handR, .machine .machine_check .machine_body .machine_handL, .machine .machine_check .machine_body .machine_earsR, .machine .machine_check .machine_body .machine_earsL, .machine .machine_check .machine_body .machine_tail {
        width: 100%;
        position: absolute;
        z-index: -5; }
        .machine .machine_check .machine_body .machine_handR img, .machine .machine_check .machine_body .machine_handL img, .machine .machine_check .machine_body .machine_earsR img, .machine .machine_check .machine_body .machine_earsL img, .machine .machine_check .machine_body .machine_tail img {
          width: 100%; }
      .machine .machine_check .machine_body .machine_handR {
        width: 35%;
        top: 35%;
        right: -25%;
        z-index: -1;
        transform-origin: left;
        transform: rotate(80deg);
        animation: handShakeR 3s linear infinite alternate; }

@keyframes handShakeR {
  0% {
    transform: rotate(80deg); }
  100% {
    transform: rotate(75deg); } }
      .machine .machine_check .machine_body .machine_handL {
        width: 35%;
        top: 35%;
        left: 0;
        z-index: -1;
        transform-origin: right;
        animation: handShakeL 1s linear infinite alternate; }

@keyframes handShakeL {
  0% {
    transform: rotateY(-20deg); }
  100% {
    transform: rotate(-15deg); } }
      .machine .machine_check .machine_body .machine_earsL {
        width: 20%;
        top: 5%;
        left: 25%;
        z-index: -1;
        transform-origin: bottom right;
        animation: earsShakeL 5s linear infinite; }

@keyframes earsShakeL {
  0% {
    transform: rotate(0deg); }
  2% {
    transform: rotate(5deg); }
  4% {
    transform: rotate(0deg); }
  8% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(0deg); } }
      .machine .machine_check .machine_body .machine_earsR {
        width: 20%;
        top: 8%;
        right: 8%;
        z-index: -1;
        transform-origin: bottom right;
        animation: earsShakeR 5s linear infinite; }

@keyframes earsShakeR {
  0% {
    transform: rotate(0deg); }
  2% {
    transform: rotate(-7deg); }
  4% {
    transform: rotate(0deg); }
  8% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }
      .machine .machine_check .machine_body .machine_tail {
        top: 0;
        right: -60%;
        transform-origin: bottom;
        animation: tailShake 5s linear infinite; }

@keyframes tailShake {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }
    .machine .machine_check .machine_dialog {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      position: absolute;
      top: -40%;
      animation: dialogMove 2s linear infinite alternate; }

@keyframes dialogMove {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(10px); } }
      .machine .machine_check .machine_dialog img {
        width: 100%; }
      .machine .machine_check .machine_dialog .machine_txt {
        width: 100%;
        position: absolute; }
        .machine .machine_check .machine_dialog .machine_txt p {
          font-size: 120%;
          width: 100%; }
