* {
    padding: 0;
    margin: 0;
    // outline: 1px red solid;
   }

@import "basic/var1.scss";
@import "mixins/mixin1.scss";

.contest_wrapper{
    width: 100%;
    background-image: url("../scss/img/contest/background_paper.png");
    background-size: contain;
    background-repeat: repeat; 
}
.rank_container_blue{
    width: 100%;
    margin: auto;
    padding-top:150px;
    background: linear-gradient(180deg, #b5e1e1 44%, rgba(255, 255, 255, 0) 100%);
    .clouds {
        width: 100%;
        height: 50%;
        position: absolute;
        z-index: 0;
        @include rwd(mobile){
          height: 40%;
        } }
      
      .clouds img {
        width: 10%;
        position: relative;
        opacity: 0.8; }
      
      .clouds img:first-child {
        left: -10%;
        top: 30%;
        animation: cloudx 60s linear infinite alternate; }
      
      .clouds img:nth-child(2) {
        left: 10%;
        top: 0%;
        animation: cloudy 60s linear infinite alternate; }
      
      .clouds img:last-child {
        left: 10%;
        top: 20%;
        animation: cloudz 48s linear infinite alternate; }
      
      @keyframes cloudx {
        0% {
          transform: translateX(-1000px); }
        100% {
          transform: translateX(800px); } }
      
      @keyframes cloudy {
        0% {
          transform: translateX(-500px); }
        100% {
          transform: translateX(800px); } }
      
      @keyframes cloudz {
        0% {
          transform: translateX(-300px); }
        100% {
          transform: translateX(800px); } }

    .rank_wrap{
        width: 100%;  
        margin:auto;
    }

    .stage_wrap{
        width: 65%;
        margin: auto;
        position: relative;
        z-index: 2;
        @include rwd(mobile){
          width: 100%;
        }
        .flag{
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            top:3%;
        }
        .flag img{
            width: 25%;
        }
        .stage{
            width: 100%;
            margin: auto;
            text-align: center;
        }
        .stage img{
            // position: absolute;
            width: 90%;
            margin: auto;
        }
    }
}

.content {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-flow: row wrap;
    margin:-43% auto 10%;
    overflow: hidden;
    @media screen and (max-width:1500px){    
      width: 85%;
      margin:-46% auto 10%;
    }
    @media screen and (max-width:1400px){    
      width: 65%;
      margin:-47% auto 10%;
    }
    @media screen and (max-width:1300px){    
      width: 60%;
      margin:-47% auto 10%;
    }
    @include rwd(mobile){
      width: 90%;
      margin:-54% auto 10%;
    }
}


#month {
    width: 100%;
    background-image: url("../scss/img/contest/wooden_plate.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;
    display: inline-block;
    margin-bottom: 15%;
    margin-top: 15%;
    position: relative;
    z-index: 5;
    @include rwd(mobile){
      background-size: 38%;
      margin-top:-0%;
      margin-bottom: 15%;
    }
    h3 {
        text-align: center;
        padding:5% 0;
      }
      img:nth-child(1){
        width: 2%;
        padding-right: 4%;
      }
      img:nth-child(2){
        width: 2%;
        padding-left:4%;
      }
}
.content .wrap_box{
  width: 80%;
  margin: auto;
  display: flex;
}
.content .box{
  width: 25%;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  animation: moveSlow 5s linear infinite alternate;
  z-index: 5;
    @media screen and (max-width:1400px){
      width: 25%;
    }
    @include rwd(mobile){
      width:20%;
      display: none;
    }
    .pic{
      width: 100%;
      }
  .pic img{
    width: 90%;
    @include rwd(mobile){
      width: 100%;
    }
  } 
  .txt {
    vertical-align: middle;
  }
  .txt img{
    width:10%;
    vertical-align: middle;
  }
}
.content .box:nth-child(2) {
  text-align: center;
  transform: translateY(-30px);
  animation: move 5s linear infinite alternate;
  @include rwd(mobile){
    display: block;
    width: 35%;
    margin-top: -5%;
  }
}

@keyframes move {
  0% {
    transform: translate(0, -30px); }
  100% {
    transform: translate(0, -50px); } }
        
@keyframes moveSlow {
  0% {
    transform: translate(0, -10px); }
  100% {
    transform: translate(0, 10px); } }

.content .box::before {
  content: '';
  width: 8%;
  height: 8%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0px 0px 20px 10px rgba(255, 196, 0, 0.5);
  animation: light 5s linear infinite alternate;
  @include rwd(mobile){
    width: 0%;
    height: 0%;
  }
}

.content .box:nth-child(2)::before {
  content: '';
  width: 8%;
  height: 8%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0px 0px 10px 15px rgba(255, 196, 0, 0.5);
  animation: light 5s linear infinite alternate;
  @include rwd(mobile){
    width: 1%;
    height: 1%;
  }
}

@keyframes light {
  0% {
    transform: scale(4) rotate(0); }
  100% {
    transform: scale(5) rotate(360deg); } }

.attend_container{
  width: 100%;
  .green{
    width: 80%;
    margin: -18% auto 0;
    background-image: url("../scss/img/contest/background_green.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    overflow-x: hidden;
    @include rwd(mobile){
      width: 100%;
      margin: -35% auto 0;
    }
  }

  .squr{
    width: 20%;
    max-width: 1200px;
    padding-top:22%;
    margin:  auto 0% auto 60%;
    img{
      width: 35%;
      position: relative;
      z-index: 5;
    }
    img:nth-child(2) {
      margin-left:-15%;
      animation: tail 2s infinite linear alternate;
      @include rwd(mobile){
        margin-left:-18%;
        animation: none;
      }
    }
    img:nth-child(3) {
      width: 60%;
      position: relative;
      left:-10%;
      margin-top:-18%;
      z-index: 0;
      @include rwd(mobile){
        left:-5%;
        margin-top:-20%;
      }
    }
  }
  @keyframes tail {
  0% {
    transform: rotate(0);
    transform-origin: 10% 100%; }
  100% {
    transform: rotate(10deg);
    transform-origin: 10% 100%; } }
}
.tree_d{
  width: 100%;
  position: relative;
    img{
      width: 18%;
      position: absolute;
      padding-top:20%;
      left:-110%;
      z-index: 5;
      @include rwd(mobile){
        display: none;
        }
    }
}
.sign_wrap{
  width: 100%;
  // max-width: 1200px;
  display: flex;
  margin: 0% auto 10%;
  padding-bottom: 40%; 
  overflow-x: hidden;
  @include rwd(mobile){
    flex-flow: row wrap;
    }

  .rule {
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    @include rwd(mobile){
      width: 90%;
      margin:auto;
    }
  }
  .sign{
    width: 100%;
    }
  .sign .txt {
    width: 70%;
    background-image: url("../scss/img/contest/wooden_sign.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 400px;
    transform: rotateY(0deg);
    margin: auto;
    text-align: center;
    // padding-top:25%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    @include rwd(mobile){
      width: 90%;
      padding-bottom: 20%;
      height: 350px;
    }
  }

  .sign .txt {
    @include rwd(medium){
      // padding-top:34%;
    }
    @include rwd(mobile){
      // padding-top:-50%;
    }
  }

  }

  .sign p:nth-child(1) {
    font-size: 28px;

    @include rwd(medium){
      font-size: 19px;
    }
    @media screen and (max-width:1300px) {
      font-size: 20px;
    }
    @media screen and (max-width:1000px) {
      font-size: 16px;
    }
    @include rwd(mobile){
      font-size: 28px;
    }
    @media screen and (max-width:600px) {
      font-size: 25px;
    }
  }

  .sign p:nth-child(2) {
    padding-top: 5%;
    font-size: 16px;
    @media screen and (max-width:900px) {
      font-size: 14px;
    }
    @media screen and (max-width:800px) {
      font-size: 12px;
    }
    @include rwd(mobile){
      font-size: 20px;
    }
    @media screen and (max-width:600px) {
      font-size: 18px;
    }
  }

  .sign p:nth-child(3) {
    padding-top: 5%;
    font-size: 18px; 
    @media screen and (max-width:900px) {
      font-size: 16px;
    }
    @media screen and (max-width:800px) {
      font-size: 14px;
    }
    @include rwd(mobile){
      font-size: 24px;
    }
    @media screen and (max-width:600px) {
      font-size: 20px;
    }
  }

  .sign p:nth-child(4) {
    padding-top: 2%;
    font-size: 18px;
    @media screen and (max-width:900px) {
      font-size: 16px;
    }
    @media screen and (max-width:800px) {
      font-size: 14px;
    }
    @include rwd(mobile){
      font-size: 24px;
    }
    @media screen and (max-width:600px) {
      font-size: 20px;
    }
  }

  .sign p:nth-child(5) {
    padding-top: 2%;
    font-size: 18px;
    @media screen and (max-width:900px) {
      font-size: 16px;
    }
    @media screen and (max-width:800px) {
      font-size: 14px;
    }
    @include rwd(mobile){
      font-size: 24px;
    }
    @media screen and (max-width:600px) {
      font-size: 20px;
    }
  }
  


.squr_s{
  width: 100%;
  position: relative;
  top:-25%;
  left:-20%;
  img{
    width: 15%;
  }
  @include rwd(mobile){
    position: absolute;
    top:110%;
    left: -100%;
    // width: 20%;
  }

  // img:nth-child(1){
  //   width: 15%;
  //   position: absolute;
  //   left:0;
  //   // animation: walk 10s linear forwards;
  // }

  // img:nth-child(2){
  //   width: 2%;
  //   position: absolute;
  //   left:0%;
  //   bottom:0%;
  //   animation: r_leg 10s linear forwards;
  //   @include rwd(mobile){
  //     top:90%;
  //   }
  // }
  // img:nth-child(3){
  //   width: 2%;
  //   position: absolute;
  //   left:16%;
  //   top:120%;
  //   animation: l_leg 10s linear forwards;
  //   @include rwd(mobile){
  //     top:92%;
  //   }
  // }
}

.btn_wrap{
  width: 10%;
  display: flex;
  // align-items: center;
  // justify-content: center;
  margin: auto;
  position: relative;
  transition: 1s;
  @include rwd(mobile){
    width: 75%;
    margin-top:-28%; 
    padding-left:5%;
  }
  @media screen and (max-width:670px){
    width: 75%;
    padding-left:5%;
    margin-top:-32%; 
  }
  @media screen and (max-width:600px){
    width: 75%;
    padding-left:5%;
    margin-top:-35%; 
  }
  @media screen and (max-width:550px){
    width: 75%;
    padding-left:5%;
    margin-top:-38%; 
  }
  @media screen and (max-width:500px){
    width: 80%;
    padding-left:0%;
    margin-top:-43%; 
  }
  @media screen and (max-width:450px){
    width: 80%;
    padding-left:0%;
    margin-top:-50%; 
  }
  @keyframes rotate {
    0%{
      transform: rotateY(0deg)
    }
    100%{
      transform: rotateY(360deg)
    }
  }
  a{
    margin: auto;
  }
  p{
    width: 100%;
    margin: auto;
  }
  .btn{
    width: 200%;
    background-image: url("../scss/img/contest/button.png");
    background-repeat: no-repeat;
    background-size: 100%;
    /* height: 45px; */
    background-position: 50% 50%;
    text-align: center;
    position: relative;
    line-height: 1000%;
  }
}

.flower_wrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  // height: 40%;
  overflow: hidden;
  position: relative;
  right:-50%;
    @include rwd(mobile){
      width: 20%;
    }
  img{
    width: 40%;
    // height: 40%;
    margin-left:5%;
    padding-top: 15%;
      @include rwd(mobile){
        display: none;
      }
  }
  img:last-child{
    width: 50%;
    height: 50%;
  }
}

.work_container{
  width: 100%;
  /* max-width: 1200px; */
  margin: -35% auto 0;
}

#voters {
  width: 100%;
  height: 60px;
  background-image: url("../scss/img/contest/wooden_plate.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  @include rwd(mobile){
    height: 50px;
  }
}

  #voters h3 {
    text-align: center;
    padding-top: 15px;
  }

// #dropdown option{
//   font-family: hanyi;
//   font-size: 24px;
// }


.mat {
  width: 100%;
  background-image: url("../scss/img/contest/mat.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 5%;
  @include rwd(mobile){
    background-position: 50% 2%;
    background-size: cover;
  }
}

.filter {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  p{
    width: 5%;
    box-shadow:2px 2px 0px rgb(236, 197, 147);
    border-radius: 50px;
    text-align: center;
    padding:0.5%;
    background-color: rgb(133, 212, 140);
    margin-right:3%;
    cursor: pointer;
    @include rwd(mobile){
      width: 15%;
    }
  }
  p:first-child{
    margin-right:1%;
  }
  p:hover {
    background-color: rgb(133, 212, 140);
    box-shadow:0px 0px 0px rgb(230, 168, 87);
    transform: translate(2px,2px);
  }

}
  
.votes_wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 2%;
}

.votes_prods {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  padding-bottom: 40px; 
  .box{
    width: 25%;
    margin:auto;
    text-align: center;
    box-sizing: border-box;
    transform: translate(0,0);
    @include rwd(mobile){
      width: 50%;
      padding-bottom: 3%;
    }
  }

  .pic::after {
    content:'';
    width: 100%;
    height: 100%;
    background-image: url(../scss/img/contest/star.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: all 1s;
    // z-index: 5;
    // display: none;
  }
  .pic.active{
    width: 100%;
    height: 100%;
    background-image: url(../scss/img/contest/star.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
    transition: all 1s;
  }
  .pic:hover::after {
    transition: all 1s;
    opacity: 1;
  }

  .box .pic{
    width: 80%;
    margin: auto;
    position: relative;
    cursor: pointer;
    @include rwd(mobile){
      width: 60%;
    }
    img{
      width: 85%;
    }
  }
  .box .txt{
    width: 100%;
    .inner_txt{
      vertical-align: middle;
      padding-top:2%;
      text-align: center;
    }
    span{
    }
    img{
      width: 10%;
      vertical-align: middle;
      padding-left:3%;
      cursor: pointer;
    }
  }
}

.votes_prods .box:nth-child(odd) {
  animation: moveSlow 5s linear infinite alternate;
}
.votes_prods .box:nth-child(even) {
  animation: moveSlow 5s linear infinite alternate-reverse;
}
.comment_wrap{
  width: 100%;
  height: 180px;
  overflow:hidden;
  overflow-y:auto;
}
.comment_box {
  width: 90%;
  height: 60px;
  display: flex;
  margin: auto;
  padding: 20px 0;
}

.comment_box .mem {
  width: 10%;
  text-align: center;
  @include rwd(mobile){
    width: 18%;
  }
}

.comment_box .mem .pic {
  width: 60%;
  margin: auto;
  img{
    width: 100%;
    border-radius: 50%;
    border: 1px solid #000;
  }
  @include rwd(mobile){
    // width: 100%;
    // height: 100%;
  }
  
}

.comment_box .mem .name {
  font-size: 12px; }

.comment_box .comment {
  width: 90%;
  @include rwd(mobile){
    width: 100%;
  }
}

.comment_box .comment input:first-child {
  width: 95%;
  height: 100%;
  border-radius: 50px;
  outline: none;
  border: 1px solid #000;
  padding-left: 3%;
  @include rwd(mobile){
    width: 85%;
    margin-left: 6%;
    padding-left: 3%;
  }
}

.comment_leave{
  width: 90%;
  height: 60px;
  display: flex;
  margin: auto;
  padding-bottom: 20px;
  // visibility: hidden;
  // transition: all 1s;
}

.comment_leave .msg{
  width: 85%;
  height: 100%;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #000;
  padding-left: 3%;
  line-height: 100%;
  display: flex;
  #msg{
    width: 96%;
    align-self: center;
    @include rwd(mobile){
      width: 90%;
    }
  }
  @include rwd(mobile){
    width: 71%;
    margin-left: 3%;
    padding-left: 3%;
  }
}
.comment_leave .mem {
  width: 10%;
  text-align: center;
  @include rwd(mobile){
    width: 18%;
  }
}

.comment_leave .mem .pic {
  width: 60%;
  margin: auto;
  img{
    width: 100%;
    border-radius: 50%;
    border: 1px solid #000;
  }
  @include rwd(mobile){
    // width: 100%;
    // height: 100%;
  }
}
.comment_leave .mem .name {
  font-size: 12px; }

.comment_leave .msg button {
    border: none;
    background-color: transparent;
    margin-top: -2%;
    @include rwd(mobile){
      
    }
}

.comment_box .comment button {
  border: none;
  background-color: transparent;
  margin-left: -7%;
  @include rwd(mobile){
    margin-left: -15%;
  }
}

.pagination {
  text-align: center; }

.pagination a {
  padding: 0 5px;
  text-decoration: none; }

  
