*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 1.5;
}

body{
    background-color: #dfd;
}

// menu
#menu{
    width: 230px;
    height: 100%;
    box-shadow: 2px 2px 5px #aaa;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    position: fixed;
    // overflow-y: scroll;

    #logo{
        width: 50%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 26px;
        img{
            width: 100%;
        }
    }

    span{
        color: rgba(236, 141, 17, 0.815);
        font-size: 16px;
    }

    li{
        width: 100%;
        font-size: 22px;
        font-weight: bold;
        margin: 36px 0;
        a{
            color: #737374;
        }
    }
}

// table
#container{
    padding-top: 20px;
    img{
        height: 150%;
        width: unset;
    }
    #content{
        overflow-x: auto;
        background-color: rgba(255,255,255,0.9);
        padding: 20px;
        margin-left: 260px;
        margin-right: 30px;
        border-radius: 30px;
        position: relative;

        select, #searchName{
            font-size: 16px;
            border-radius: 10px;
            color: #737374;
            padding: 4px;
            border: 1px solid #ddd;
        }

        .step{
            margin: 10px 0 0 0;
            width: 100px;
            height: 45px;
            color: #eee;
            background-color: rgba(236, 141, 17, 0.815);
            border: 2px solid transparent;
            border-radius: 10px;
            padding: 0px;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            cursor: pointer;
        }
        .searchBar{
            position: absolute;
            top: 70px;
            right: 10px;
        }
        #picnic{
            margin: 20px 0 20px 0;
            text-align: center;

            #subBtn{
                border: none;
                background-color: transparent;
                font-size: 20px;
                color: #737374;
                margin-top: 0;
                cursor: pointer;
            }
            tbody{
                tr{
                    td{
                        overflow: hidden;
                        height: 40px;
                        vertical-align: middle;
                        padding: 4px;
                    }
                }
            }
        }
        #pagination{
            ul{
                display: flex;
                justify-content: center;
                li{
                    margin: 0 7.5px;
                    font-size: 20px;
                    #last{
                        border-radius: 8px 0 0 8px;
                        padding: 5px 10px;
                        background-color: rgba(236, 141, 17, 0.815);
                    }
                    #next{
                        border-radius: 0 8px 8px 0;
                        padding: 5px 10px;
                        background-color: rgba(236, 141, 17, 0.815);
                    }
                    .nowLoc{
                        padding: 5px 10px;
                        background-color: rgba(236, 141, 17, 0.815);
                    }
                }
            }
        }
    }
    footer{
        margin-left: 260px;
        padding: 5px 0;
        text-align: center;
    }
}