// @import "base/resret1.scss";
@import "basic/var1.scss";
@import "mixins/mixin1.scss";
// @import "layout/footer1.scss";
// @import "layout/header1.scss";
// @import "layout/sidebar1.scss";
@import "page/moblie.scss";

//1. title字體顏色字型
// @mixin title_modules($list...) {
//   @each $title, $fontSize, $color, $fontFamily in $list {
//     #{$title} {
//       font-size: $fontSize;
//       color: $color;
//       font-family: $fontFamily;
//     }
//   }
// }

@include title-modules(
  h2 24px #333 verdana,
  h3 48px pink verdana,
  h4 18px #888 verdana,
  h5 24px blue verdana
);

//2.bg-image(使用在不同版面或rwd)
$value: fontP, itemP, productsP, iteamP;

@each $img in $value {
  .#{$img}-bg {
    background-image: url("./img/#{$img}.jpg");
    width: 300px;
  }
}

//3.使用在卡片
// @mixin card-color($classname, $width, $height, $bgc, $margin, $border: null) {
//   #{$classname} {
//     background-color: $bgc;
//     width: $width;
//     height: $height;
//     margin: $margin;
//     border: $border;
//     @content;
//   }
// }

@include card-color(".box", 500px, 400px, pink, 10px, 3px solid deeppink);

//4.隔線系統
// @mixin grid($num) {
//   @for $i from 1 through $num {
//     .col-md-#{$i} {
//       width: ($i/$num) * 100%;
//     }
//   }
// }

@include grid(12);

//5.前綴字
// @mixin box-sizing($border-model) {
//   -webkit-box-sizing: $box-model;
//   -moz-box-sizing: $box-model;
//   box-sizing: $box-model;
// }
// .boxSizing {
//   @include box-sizing(border-box);
// }

//6擴充物件
.txt {
  font-size: 20px;
  color: green;
  padding: 10px;
}
//可以用@extend.txt

//7.RWD

// $mb: 767px;
// $md: 996px;
// $dsk: 997px;
// @mixin rwd($breakpoint) {
//   @if $breakpoint==mobile {
//     @media all and (max-width: $mb) {
//       @content;
//     }
//   } @else if $breakpoint==medium {
//     @media all and (min-width: $md) {
//       @content;
//     }
//   } @else if $breakpoint==desktop {
//     @media all and (min-width: $dsk) {
//       @content;
//     }
//   }
// }

@include rwd(mobile) {
  body {
    font-size: 16px;
  }
}
@include rwd(medium) {
  body {
    font-size: 16px;
  }
}
@include rwd(desktop) {
  body {
    font-size: 16px;
  }
}


//votes
.vote_container{
  width: 100%;
  max-width: 1200px;
  margin:auto;
}