@font-face {
	font-family: "font_p";
	src: url("../sass/font/03SmartFont-P.ttf")  format("truetype"),;
}
@font-face {
	font-family: "font_title";
	src: url("../sass/font/HanaMinA.ttf")  format("truetype");
}
@font-face {
	font-family: "font_nav";
	src: url("../sass/font/font_1_kokumr_1.00_rls.ttf")  format("truetype");
}
@font-face {
	font-family: "font_2";
	src: url("../sass/font/imagine YOKOHAMA.otf")  format("truetype");
}
@font-face {
	font-family: "font_cart";
	src: url("../sass/font/SoukouMincho.ttf")  format("truetype");
}


$mb: 767px;
$md: 996px;
$dsk: 997px;